root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.go]
indent_style = tab
ij_go_import_sorting = goimports

[{*.yml,*.yaml}]
indent_style = space
indent_size = 2

[*.proto]
indent_style = space
indent_size = 2
